* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
$small: 768px;
.col-res{  
  @media screen and (min-width: $small) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
body {
  background-color: #da291c;
}
.main{
  background-color: #f0f8ff;
  margin: 0rem 1rem;
  border-radius: 1rem;
  h1 {
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  padding: 1rem;
  background-color: #f0f8ff;
  box-shadow: 0 1px #a1a3a6;
}
.data{
  height: 90vh;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
}
}


.items {
  box-shadow: 0 1px 0 #888888;
  width: 90%;
  height: 7rem;
  margin: 1rem auto;
  background-color: white;
  display: flex;
  border-radius: 0.5rem;
  img {
    width: 7rem;
    height: 6rem;
  }
}
.count {
  width: 100%;
  background-color: #f0f8ff;
  display: flex;
  p {
    margin: auto;
    background-color: #f0f8ff;
  }
}
button,
input[type="submit"] {
  background-color: #9e1010;
  color: white;
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
  }
}
.item-info {
  width: 100%;
  * {
    margin: 0.3rem;
  }
}
.description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-price {
  margin: 1rem;
  span {
    margin: 1rem;
  }
}
.bill {
  margin: 0 1rem;
  border-radius: 1rem;
  padding: 1rem;
  height: 17rem;
  background-color: #f0f8ff;
  & > div {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
  }
}
.recipt {
  background-color: #ffc72c;
  height: 2rem;
  border-radius: 0.3rem;
  font-weight: bold;
}
input[type="submit"] {
  width: 100%;
  height: 3rem;
}
.discount-code {
  input {
    width: 100%;
    border: none;
    &[placeholder] {
      font-weight: bold;
      padding-right: 1rem;
    }
  }
}
